<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
         <style type="text/css">
            .short-screenshot {
                height: 200px;
                width: 200px;
            }
            .overlay {
                display: none;
                position: absolute;
                width: 95%;
                height: 95%;
                left: 2.5%;
                top:2.5%;
            }
            .overlay.active {
                display: block;
            }
            .overlay .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: white;
            }
            .overlay img {
                display: block;
                margin: 0 auto;
            }
            .overlay .img.top {
                z-index: 100;
            }
            .controls {
                z-index: 200;
                position: fixed;
                top: 0;
            }
            .controls .close {
                margin-left: 10px;
                background: #eee;
                opacity: 1;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
                <h1>List of screenshots for <%= location %> <small>taken <%= Time.now.strftime('%Y/%m/%d %H:%M:%S') %></small></h1>
            </div>
            <div class="row">
                <!-- <%= directories.length %> -->
                <div class="col-lg-2">
                    <div class="panel">
                        <div class="panel-heading">Screenshots:</div>
                        <ul class="list-group list-group-flush">
                            <% directories.keys.each do |dir| %>
                                <li class="list-group-item"><a href="#<%=path%><%=dir%>"><%=dir%></a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    <% directories.to_a.sort.each do |dir, sizes| %>
                        <div class="row">
                            <a name="<%= dir %>"></a>
                            <h2><%= dir %></h2>
                        </div>
                        <% sizes.to_a.sort.each do |size, files| %>
                            <div class="row image-group">
                                <h3 class="col-lg-1 text-muted"><%=size%>px</h3>
                                <% files[:variants].each do |file| %>
                                    <div class="col-lg-3">
                                        <a href="<%=file[:filename]%>">
                                            <img class="short-screenshot img-thumbnail" src="<%=path%><%=file[:thumb]%>">
                                        </a>
                                        <p class="text-center"><%=file[:name]%></p>
                                    </div>
                                <% end %>
                                <div class="col-lg-3">
                                    <% if files[:diff] %>
                                        <a href="<%=files[:diff][:filename]%>">
                                            <img class="short-screenshot img-thumbnail" src="<%=path%><%=files[:diff][:thumb]%>">
                                        </a>
                                    <% end %>
                                    <p class="text-center">diff</p>
                                    <p class="text-center text-muted"><%=files[:data]%> % different</p>

                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="overlay">

        </div>
        <ul class="controls pager">

        </ul>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/script.js"></script>
    </body>
</html>
